.participant-row{
    padding: 20px 32px;
    margin: 32px 0;
    border: 2px solid #000;
    border-radius: 12px;
    font-family: "Google Sans";
}

.participant-name{
    font-weight: 600;
    font-size: 20px;
    text-transform: capitalize;
}

.participant-tracks-completed{
    font-size: 16px;
}

.qwiklabs-profile-bttn{
    border: 2px solid #000;
    box-shadow: 0 0 0 0 #000 inset;
    cursor: pointer;
    padding: 12px 5px;
    transition: 400ms;
    color: #000;
    border-radius: 32px;
}

.qwiklabs-profile-bttn:hover{
    box-shadow: 0 -5em 0 0 #000 inset;
    color: #fff;
    transition: 400ms;
}